

.moduleWrapper{
    width:960px;
    margin:0 auto;
	font-family:Arial;
	border:1px solid black;
	padding:10px;

}

.moduleWrapper .folderbutton{
    text-align:left;
    margin:25px 0;
	width:auto;
}

.moduleWrapper .folderbutton a:before {
	content: '';
	background: url('../easypost/newimages/plus.png');
	height:11px;
	width:11px;
	display:inline-block;
	margin: 0px 10px 0 0;
}

.MainLabel{
    width:40%;
    font-weight:bold;
    margin-bottom:20px;
    line-height:40px;
}


.lblClass{
    text-align:right;
    line-height:25px;
    margin:0 20px 0 0px;   
    
}

.DataGridTitle{
    display:block;
    background-color: #005cab;
    color: White;    
    border: none;
    text-align: left;    
    font-size:medium;
    padding: 15px;
}

.DataGridTable img{
    width:120px;
    height:120px;
}

.DataGridTable:first-child{
    text-decoration:underline;
}

.TitleData, .FullNameData, .LocationData{
    padding-right:20px;
    width:auto;
}
.BodyContentData{
    width:60%;
    padding-right:20px;
}
#lblVideoID{
    margin-right:5px;
}
#txtVideoID{
    margin-right:10px;
    width:5%;
}
.txtClass, .txtMultiClass
{
    margin-top:2px;
    width:70%;
    vertical-align:middle;
}

.txtMultiClass{
    height:200px;
}
.pods {
    margin-bottom:20px;
}


.action{
    text-decoration:none;
    text-align:center;
    margin:50px 0 50px 0;
    font-size:30px;
}

#Header{
    border-bottom:1px solid;
    margin: 0px 0px 20px 0px;
}

#txtDescription {
    height:240px;
}


.moduleWrapper .table{display:table;  background-color:white; border-color:black; padding:5px; vertical-align:middle; width:100%;}
.moduleWrapper .tableRow{display:table-row;}
.moduleWrapper .tableColumn{display:table-cell;vertical-align:top; text-align:left; padding:5px;}
.moduleWrapper .tableColumn:first-child{width:15%;text-align:right;}
.moduleWrapper .tableColumn:last-child{width:80%;}
.DataGridTable {
    font-size:10pt;
}

.GridAltItem{
    background-color:whitesmoke;
}

.RemoveImageText{
    padding:5px 10px;
    text-decoration:none;
    background-color:grey;
    color:white;
}

.PreviewImage{
    margin-bottom:10px;
}

.DataGridHeader{
    padding-bottom: 15px;
}


.people{padding:25px 0; box-sizing:border-box;}
.section1, .section2{display:flex;}
.person{vertical-align:top; float:left;}
.person img{display:block;}
.people ul { padding:0px;}
.people li { margin:0px; padding:0px; list-style:none;}

.podImage{
    cursor:pointer;
}
.popupWindow{
    display:none;
    position:fixed;  
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:1px solid white;
    border-radius:1px;
}
.popupShadow{
    background:#222020; 
    opacity:0.9;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
  
.popupWindow .popupcontent{
    width:600px;
    position:absolute;
    top:50%;
    left:50%;
    z-index:9999;
    background:#fff;
    border-radius:5px; 
   
}

.popupWindow .popupcontent img{
    width:100%;
    border-radius:5px 5px 0px 0px; 
    overflow:hidden;
    
}
.popupClose {
    color:#808080;
    display:inline-block;
    float:right;
    cursor:pointer;
}

.popupClose::after{
    clear:both;
    content: '';
    display:block;
}

.popupcontent h3{
	font-family:'Kreon',serif;
    font-size:23px;
    padding:20px 20px 0px 20px;
 
    font-weight:bold;
}

.popupcontent p{
	font-family:'Kreon',serif;
    padding:0px 20px 20px 20px;
    font-size:14px;
    font-weight:normal;
    line-height:1.5;
}
.circle
{
    padding:6px 15px;
    border-radius:50%;
    font-size:20px;
    color:gray;
    text-align:center;
    background:#ffffff;
    position:absolute;
    top:-15px;
    right:-15px;
}