body {
  color: #2d2d2d !important;
  font-family: Roboto, sans-serif !important;
  font-size: 100%;
}

/* Index page styling */

.accentText {
  display: block;
  font-family: "La Belle Aurore";
  font-size: 2.5em;
  margin-bottom: 30px;
}

.hasChild ul {
  padding: 0;
}

.altBackground {
  background-color: #e6e6e6;
}

.bestBadgeContainer {
  margin-top: 65px;
  padding: 0 20px;
}

.bestBadgeContainer img {
  margin: 0 auto;
  width: 100%;
}

.bestContainer {
  padding: 70px 0;
  text-align: center;
}

.bestContainerContent {
  color: #035f7b;
  display: table-cell;
  vertical-align: middle;
}

.bestContainerContent p {
  font-family: Georgia, "PT Serif", serif;
  display: table-cell;
  vertical-align: middle;
}

.bestContainerFix {
  display: inline-block;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.bestContainerTable {
  display: table;
}

.bestLogoContainer {
  text-align: center;
}

.buttonContainer {
  position: relative;
  margin-bottom: 65px;
}

.buttonStyle {
  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 1.8em;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.buttonStyle:hover {
  background-color: #fff;
  text-decoration: none;
}

#newsButton {
  color: #1082a5;
}

#newsButton:hover {
  color: #094f64;
}

.carePod {
  overflow: hidden;
}

.carePod img {
  position: absolute;
/*  z-index: -1;*/
}

.carePods {
  max-width: 1011px;
}

.carePod:first-of-type .carePodText {
  background-color: rgba(3, 95, 123, 0.75);
}

.carePod:nth-of-type(2) .carePodText {
  background-color: rgba(16, 130, 165, 0.75);
}

.carePod:last-of-type .carePodText {
  background-color: rgba(94, 167, 186, 0.75);
}

.carePodText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.carePodText p {
  border-top: 1px solid #97bbc7;
  border-bottom: 1px solid #97bbc7;
  color: #fff;
  display: inline-block;
  font-size: 2.2em;
  font-weight: bold;
  padding: 5px 0;
  text-transform: uppercase;
  z-index: 1;
}

.careServicesContainer {
  margin-top: 85px;
  position: relative;
  text-align: center;
}

.careServicesContainer h2,
.communityContainer h2 {
  background-color: #fff;
  display: flex;
  color: #035f7b;
  font-family: Georgia, "PT Serif", serif;
  font-size: 4em;
  margin: 0 auto 60px;
  padding: 0 0.625em;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.communityContainer {
  position: relative;
  text-align: center;
}

.communityContainer h2 {
  background-color: #e6e6e6 !important;
}

.communityContainer p {
  color: #2d2d2d;
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 75px;
  max-width: 850px;
}

.communityImage img {
  width: 100%;
}

.communityImages {
  display: inline-block;
  margin-bottom: 110px;
}

.containerFix {
  width: 100%;
}

.container .nopadding {
  margin-top: -75px;
}

.donateButtonContainer {
  background-color: #fff;
  display: inline-block;
  height: 60px;
}

.excellenceLogo {
  background-color: #094f64;
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  padding: 0 10px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}

.excellenceLogo img {
  width: 100%;
}

.excellenceSection {
  background-color: #094f64;
  position: relative;
}

.excellenceText {
  border: 1px solid #fff;
  color: #fff;
  max-width: 60em;
}

.excellenceText h2 {
  font-family: Georgia, "PT Serif", serif;
  text-align: center;
}

.excellenceText p {
  font-size: 1.6em;
  line-height: 1.5;
  text-align: center;
}

.fadingLine {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: #035f7b;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    550,
    from(#035f7b),
    to(transparent)
  );
  position: absolute;
  top: 2.5em;
  left: 0;
  right: 0;
}

.footerLogo {
  margin: 25px auto;
  width: 160px;
}

.footerLogo img {
  width: 100%;
}

.footerOverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.footerText {
  font-size: 1.6em;
  margin-bottom: 35px;
  text-align: center;
}

.footerText a {
  color: #2d2d2d;
}

.footerText span {
  padding: 0 7px;
}

.footerText span:last-of-type {
  border: none;
}

.headerLogoContainer {
  position: relative;
}

.headerLogoContainer img {
  /*position: absolute;
  top: 35px;*/
  width: 150px;
}

.headerNav {
  font-weight: 700;
  text-transform: uppercase;
}

.headerNav li {
  display: inline;
  position: relative;
  list-style: none;
  margin: 0 10px;
}

.headerNav li a {
  color: #035f7b;
}

.heroContainer {
  position: relative;
}

.heroDescription {
  color: #fff;
  font-family: Georgia, "PT Serif", serif;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  text-align: center;
}

.heroImageContainer {
  max-height: 550px;
  overflow: hidden;
  position: relative;
}

.heroImageContainer img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.headerPhoneContainer,
.phoneNumberContainer a {
  color: #035f7b;
  font-family: Georgia, "PT Serif", sans-serif;
  font-size: 3em;
  }

.headerPhoneContainer {
  width: 100%;
}

.hideMe {
  display: none;
}

.imageOverlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.mainArrow {
  margin-left: 10px;
}

.navbarContainer {
  background-color: #fff;
  height: 60px;
  text-align: right;
  color: #035f7b;
}
ul.headerNav {
  padding: 0;
}

#newsAndEvents {
  background-color: #094f64;
}

.newsContainer {
  padding-top: 75px;
}

.newsContainer h2 {
  color: #fff;
  font-family: Georgia, "PT Serif", serif;
  font-size: 4.2em;
  text-align: center;
  margin: 0;
  padding-bottom: 45px;
}

.newsPod {
  min-height: 24em;
}

.newsPod:first-of-type {
  background-color: #5ea7ba;
}

.newsPod:nth-of-type(2) {
  background-color: #1082a5;
}

.newsPod:last-of-type {
  background-color: #035f7b;
}

.newsPod h3 {
  color: #fff;
  font-family: Georgia, "PT Serif", serif;
  font-size: 1.8em;
  font-weight: 700;
  margin: 0 auto 15px;
}

.newsPod p {
  color: #fff;
  font-size: 1.5em;
  padding-right: 20px;
}

.newsPod p:last-of-type {
  margin-bottom: 0;
}

.newsPods {
  min-height: 26.7em;
  padding-bottom: 3.5em;
}

.noPadding {
  padding: 0 !important;
  background-color: #fff;
}

.notRespImage {
  height: 700px;
  overflow: hidden;
}

.notRespImage img {
  min-width: 100%;
  min-height: 100%;
}

.nowSticky {
  position: fixed !important;
  top: 0 !important;
  bottom: auto !important;
}

.padCommunity {
  padding-top: 85px;
}

.phoneStyling {
  margin-right: 10px;
}

.phoneStyling img {
  width: 15px;
}

.poweredByElement74 {
  background-color: #035f7b;
  font-size: 1.4em;
  padding: 20px 0;
  text-align: center;
}

.poweredByElement74 * {
  margin: 0;
  color: #fff !important;
}

.respNav {
  position: relative;
  text-align: center;
  top: 0px;
  z-index: 30;
  background-color: #fff;
  padding: 0 80px 0 0;
  color: #035f7b;
  font-size: 15px;
  margin-top: 25px;
  font-family: Roboto, sans-serif !important;
}

@media screen and (max-width: 1270px) {
  .respNav {
    padding: 0 130px 0 0;
  }
}

.selectedArrow img {
  width: 100%;
}

.sosjBackground {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.sosjText {
  position: absolute;
  top: 145px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sosjText a {
  color: #fff;
}

.sosjText h2 {
  text-align: center;
  font-family: Georgia, "PT Serif", serif;
  font-style: italic;
}

.sosjText p {
  text-align: center;
  margin: 0;
}

.sosjText p:first-of-type {
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: 60px;
}

.sosjText p:last-of-type {
  font-family: Georgia, "PT Serif", serif;
  font-size: 2em;
  font-style: italic;
}

.sosjBackgroundImageContainer {
  height: inherit;
  position: relative;
  width: 100%;
}

.sosjBackgroundImageContainer img {
  position: relative;
  top: 90%;
  transform: translateY(-90%);
  z-index: -1;
}

.sosjLogo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sosjLogo img {
  box-shadow: 0 0 5px #2d2d2d;
  width: 140px;
}

#stickyCatch {
  position: fixed;
}

.stars {
  display: inline-block;
  margin: 0 auto 80px;
}

.stars img {
  margin: 1px;
  width: 30px;
}

.textSize {
  background-color: #0f799b;
  color: #fff;
  min-height: 140px;
  min-width: 65px;
  text-align: center;
  padding: 10px;
  position: fixed;
  right: 0;
  z-index: 2;
}

.textSize a {
  background: none;
  border: none;
  display: block;
  width: 50px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.textSize a img {
  width: 100%;
}

.textSize p {
  font-size: 1.4em;
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
}

.modal-body {
  font-family: Arial;
  font-size: 14px;
}

/* Responsive styling */

.respNav #tel {
  font-family: Georgia, "PT Serif", serif;
  font-size: 1em;
  color: #fff !important;
}

.respPhoneNumber {
  padding: 50px 0;
}

.respPhoneStyling img {
  display: inline-block;
  margin-right: 15px;
  width: 15px;
}

.headerNav .current-menu-item a,
.headerNav .current-menu-parent a {
  color: #85c9de;
}

.gallery-img-5{
	max-height: 394px;
}

@media screen and (max-width: 600px) {
  .accentText {
    font-size: 1.4em !important;
  }

  #hero .heroDescription h1 {
    font-size: 2em;
  }

  .secondaryHeroDescription h1 {
    font-size: 2.6em !important;
  }

  #secondaryPage-Header ul {
    padding-left: 15px;
  }
}


@media screen and (max-width: 991px) {
  .accentText {
    font-size: 1.54em;
    margin-bottom: 15px !important;
  }

  .bestBadgeContainer {
    margin-top: 50px !important;
  }

  .bestLogoContainer {
    max-width: 240px;
    margin: 0 auto;
  }

  .bestContainerContent p {
    font-size: 2.4em;
    text-align: center;
  }

  .bestContainerContent table {
    margin: 0 20px;
    width: calc(100% - 40px) !important;
  }

  .bestContainerContent td {
    width: 100% !important;
    float: left;
    clear: left;
  }

  .bestContainerContent td:first-of-type {
    margin-bottom: 30px;
  }

  .buttonContainer {
    margin: 0 20px 20px !important;
  }

  .carePod {
    display: inline-block;
    margin: 0 20px 20px;
    width: calc(100% - 40px);
  }

  .carePod img {
    display: block;
    position: static;
    width: 100%;
    height: auto;
  }

  .carePods {
    margin: 0 auto;
  }

  .carePodText {
    height: 85px;
  }

  .carePodText p {
    margin: 20px auto 0;
  }

  .careServicesContainer {
    margin-top: 0 !important;
  }

  .careServicesContainer .fadingLine {
    display: none;
  }

  .careServicesContainer h2 {
    display: none;
  }

  .carousel-indicators {
    bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .carousel-indicators li {
    border: 2px solid #fff !important;
    margin: 0 3px !important;
    width: 12px;
    height: 12px;
  }

  .communityContainer {
    margin: 0 20px;
  }

  .communityContainer h2 {
    font-size: 3em !important;
    padding: 0 1em !important;
  }

  .communityContainer p {
    padding-bottom: 30px;
  }

  .communityImage img {
    padding: 7px 0;
  }

  .communityImages {
    margin-bottom: 15px;
  }

  .donateButton {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 2px;
    color: #035f7b !important;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 0 20px 20px 0px;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
    margin: 0 auto;
  }

  .donateButton:hover {
    background-color: #fff;
    color: #035f7b !important;
    text-decoration: none;
  }

  #excellenceInNursing {
    background-color: #094f64;
  }

  .excellenceLogo {
    width: 100px !important;
  }

  .excellenceText {
    margin: 50px auto 35px;
    padding: 0 20px;
  }

  .excellenceText h2 {
    font-size: 2.6em;
    margin: 50px 0 20px;
    padding: 0 10px;
  }

  .excellenceText p {
    margin-bottom: 35px;
  }

  .fadingLine {
    top: 2em;
  }

  .footerText span {
    padding: 0 !important;
  }

  .hamburgerContainer {
    width: 60px;
    height: 50px;
    text-align: center;
    margin-top: -100px;
    right: 90px;
    position: absolute;
  }

  .hamburgerContainer a {
    color: #035f7b;
  }

  .headerContainer,
  .headerPhoneContainer,
  .navbarContainer div,
  .communityContainer .container {
    width: 100% !important;
  }

  .headerLogoContainer img {
    top: 13px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .headerPhoneContainer .navActive {
    background-color: #fff;
  }

  .headerNav {
    z-index: 2;
    font-size: 1em;
    padding: 0;
  }

  .headerNav li {
    display: block;
    margin: 0 auto;
  }

  .headerNav li a {
    display: block;
    padding: 12px 0;
    width: 100%;
  }

  .headerPhoneContainer {
    height: 124px !important;
    padding: 0;
  }

  #hero .heroImageContainer img {
    width: 200%;
    right: 90%;
    top: 70%;
    /*transform: translateY(-70%);*/
  }

  .heroDescription {
    top: 30%;
  }

  .heroDescription h1 {
    font-size: 2.6em;
  }

  .navbarContainer,
  .headerLogoContainer img {
    z-index: 3000;
  }

  .navActive a {
    color: #035f7b !important;
  }

  .navNotActive {
    display: none;
  }

  .newsPod {
    margin-bottom: 50px;
  }

  .newsPod p {
    padding-right: 0 !important;
  }

  .newsPods {
    margin: 0;
    width: 100%;
  }

  .newsPodText {
    padding: 40px 20px;
  }

  .notRespFooter {
    display: none;
  }

  .notRespImage {
    display: none;
  }

  .notRespPhoneNumber {
    display: none;
  }

  .respNav {
    position: relative;
    text-align: center;
    top: 60px;
    z-index: 30;
    background-color: #fff;
    padding: 0 20px;
    color: #035f7b;
    font-size: 15px;
    margin-top: -63px;
  }

  .respNavButton {
    font-size: 0.75em;
  }

  .respNavButton:hover {
    cursor: pointer;
  }

  .selectedArrow {
    transform: rotate(-90deg);
    width: 19px;
    display: inline-block;
    margin-right: 5px;
  }

  .sosjBackground {
    height: 560px;
  }

  .sosjBackgroundImageContainer img {
    height: 150%;
  }

  .sosjText {
    padding: 0 20px;
  }

  .sosjText h2 {
    font-size: 3em;
    margin: 0 0 25px;
  }

  .sosjText p {
    padding: 0 35px;
  }

  .sosjText p:first-of-type {
    font-size: 1.8em !important;
    margin-bottom: 35px;
  }

  .sosjText p:last-of-type {
    font-size: 1.6em !important;
    margin-bottom: 35px;
  }

  .stars {
    margin-bottom: 35px;
  }

  #stickyCatch {
    bottom: 140px;
  }

  .textSize {
    top: calc(50% - 70px);
  }

  .tab-nav {
    display: none;
  }

  .sub-menu {
    padding: 0;
  }

  .current-menu-parent,
  .current-menu-parent li {
    background-color: #85c9de;

  }
  .current-menu-parent a {
    color: #fff !important;
  }
  .current-menu-item {
    background-color: #008bb2 !important;
  }
  .current-menu-item a {
    color: #fff !important;
  }

	.gallery-img-5{
	 max-height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .bestContainerContent {
    width: 960px;
  }

  .bestContainerContent p {
    font-size: 3em;
    text-align: left;
  }

  .carePod {
    height: 525px;
  }

  .carePod img {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .carePods {
    height: 525px;
    margin: 0 auto 130px;
  }

  .carePodText {
    height: 185px;
  }

  .carePodText p {
    margin: 70px auto 0;
  }

  .carousel-indicators {
    display: none;
  }

  .communityImage img {
    padding: 7px;
  }

  .donateButton {
    background-color: #fff;
    color: #035f7b !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
  }

  #excellenceInNursing {
    height: 700px;
  }

  .excellenceSection {
    height: 700px;
  }

  .excellenceText {
    min-height: 410px;
    margin: calc(300px - 15em) auto 0;
    padding: 0 50px 50px;
    position: relative;
    left: 0;
    right: 0;
  }

  .excellenceText h2 {
    font-size: 4em;
    margin: 65px 0 20px;
    padding: 0 10px;
  }

  .excellenceText p {
    margin: 0;
  }

  .footerText span {
    border-right: 1px solid #84cadf;
  }

  .hamburgerContainer {
    display: none;
  }

  .headerNav {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px 0 0;
  }

  .headerPhoneContainer {
    padding: 5px 15px;
    display: flex;
  }

  .heroDescription h1 {
    font-size: 4em;
  }

  #hero .heroImageContainer img {
    width: 130%;
    top: 35%;
    left: -25%;
    transform: translateY(-35%);
  }

  .newsPod {
    display: block !important;
  }

  .newsPodText {
    padding: 35px;
  }

  .phoneNumberContainer {
    text-align: right;
    padding-top: 30px;
    width: 100%;
    float: right;
  }

  .respFooter {
    display: none;
  }


  .respNavArrow {
    display: none;
  }

  .respPhoneNumber {
    display: none;
  }

  .selectedArrow {
    width: 27px;
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .sosjBackground {
    height: 380px;
  }

  .sosjBackgroundImageContainer img {
    width: 100%;
  }

  .sosjText h2 {
    font-size: 4em;
    margin: 0 0 15px;
  }

  #stickyCatch {
    top: calc(50% - 70px);
  }

  .textSize {
    top: calc(50% - 70px);
  }



}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .communitySubimage {
    height: 250px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .communitySubimage {
    height: 304px;
    overflow: hidden;
  }
}
/* secondary page*/
.secondaryHeroDescription {
color: #fff;
    font-family: Georgia, "PT Serif", serif;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    text-align: center;
}

#secondaryPage-Header {
  margin: 50px 50px 50px;
}

#secondaryPage-Header a {
  color: #035f7b;
}

#secondaryPage-Header h1 {
  display: flex;
  margin-bottom: 55px;
  justify-content: center;
  position: relative;
  align-items: center;
}
#secondaryPage-Header h1:before {
  content: "";
  background: url("../images/line-fade-left.png");
  height: 10px;
  width: 25%;
  background-repeat: NO-REPEAT;
  display: inline-block;
  background-size: contain;
  flex: 0 1 auto;
  margin-right: 15px;
  margin-top: 15px;
}

#secondaryPage-Header h1:after {
  content: "";
  background: url("../images/line-fade-right.png");
  height: 10px;
  width: 25%;
  background-repeat: NO-REPEAT;
  display: inline-block;
  background-size: contain;
  flex: 0 1 auto;
  margin-left: 15px;
  margin-top: 15px;
}

#secondaryPage-Header h4 {
  padding: 0 0 60px 0;
  font-size: 20px;
}

.secondaryHeroDescription h1 {
  font-family: Georgia, "PT Serif", serif;
  font-size: 6.4em;
}
.contentButtonContainer {
  display: flex;
  align-items: stretch;
}
.contentButtonContainer ul {
  padding: 0px;
}
.contentButtonContainer ul li {
  list-style: none;
  display: inline-block;
}
.contentSection {
  border: 1px solid #d7d7d7;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 5px 5px 5px;
}
.contentSection .sButtonList {
  list-style: none;
}
.sHeading {
  display: block;
  text-align: center;
  vertical-align: middle;
}

/*table#ctl00_ctl00_CPHMain_ContentPlaceHolder2_Spotlight1_objSiteEditorX_RadEditor1Wrapper {
    width: 50% !important;
    position: absolute;
    top: -400px;
    left: 25%;
}*/
.sHeading img {
  display: inline;
  vertical-align: text-top !important;
}
.sHeading h1 {
  font-family: Georgia, "PT Serif", serif;
  font-size: 4em;
  color: #035f7b;
  display: inline;
}
#secondaryPage-Header h2 {
  font-family: Georgia, "PT Serif", serif;
  font-size: 2.6em;
  color: #035f7b;
  padding-bottom: 30px;
  text-align: left;
}
#secondaryPage-Header h3 {
  font-family: Georgia, "PT Serif", serif;
  font-size: 2em;
  color: #035f7b;
  padding-bottom: 30px;
  text-align: left;
}
#secondaryPage-Header p {
  font-size: 1.6em;
  margin-bottom: 30px;
  text-align: left;
}
#secondaryPage-Header ul {
  margin-bottom: 30px;
}
.sContentImageWrapper {
  margin-bottom: 70px;
  max-height: 410px;
  overflow: hidden;
  margin-bottom: 75px;
}
.sContentImageWrapper img.img-responsive {
  width: 100%;
}
#secondaryPage-Header img {
  width: 100%;
}
#staffSubHeading h4 {
  font-size: 2em;
  text-align: center;
  margin: 40px 0 40px 0;
}
#staffHeading .sHeading span {
  margin-bottom: 0px;
  margin-top: 85px;
}
#staffHeading img {
  width: auto;
}
#staffImageSection img {
  padding-bottom: 40px;
}
.sButtonList {
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  color: #fff;
  font-size: 20px;
  a {
    padding: 20px;
    font-size: 0.2px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
}
.contentSection .sButtonList li {
  background-color: #85c9de;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  min-height: 75px;
  position: relative;
}
.sButtonList ul {
  margin: auto;
}
.sButtonList {
  color: #fff;
  font-size: 20px;
}
.sButtonList li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 25px 0;
  font-weight: 700;
}
.buttonNav ul li:hover {
  background-color: #008bb2 !important;
}
.sButtonActive {
  background-color: #008bb2 !important;
}
.sButtonList li:not(:last-child) {
  margin-right: 5px !important;
}
.sButtonList .glyphicon {
  position: absolute;
  color: #008bb2;
  text-align: center;
  top: 72px;
  left: 0;
  right: 0;
}
.nav-mobile {
  position: absolute;
  background-color: #008bb2;
  font-weight: 700;
  width: 100%;
  z-index: 1;
  margin-bottom: 55px;
  text-align: center;
}
.nav-mobile li {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
.nav-mobile .list > li:first-of-type {
  margin-bottom: 0px !important;
}
.nav-mobile .list > li ul li:last-of-type {
  margin-bottom: 55px !important;
}
.nav-mobile li a {
  color: #fff;
  font-size: 16px;
}
.nav-mobile ul {
  padding: 0;
}
.nav-mobile ul li ul {
  display: none;
}
.gIconNav-Mobile {
  top: 46px;
  font-size: 25px;
  color: #008bb2;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.gIconWhite {
  color: #fff;
  top: calc(100% - 17px);
}
.nav-mobile-pageTitle {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

/*responsive style*/
@media screen and (max-width: 1200px) {
  .sButtonList .glyphicon {
    top: 71px !important;
  }
  .sButtonList {
    font-size: 15px;
  }
}
@media all and (max-width: 991px) {
  .contentSection {
    width: 95%;
  }
  .sHeading span {
    margin-top: 110px;
    margin-bottom: 35px;
  }
  .sHeading h1 {
    font-size: 30px;
  }
  #staffHeading img {
    width: 25%;
  }
  #staffHeading .sHeading span {
    margin-top: 110px;
  }
  .col-xs-6 {
    padding: 1px !important;
    width: calc(50% - 2px);
  }
  #staffImageSection img {
    padding-bottom: 1px;
  }
  #staffImageSection {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sHeading img {
    width: 25%;
  }
  .sContentImageWrapper {
    margin-bottom: 30px;
  }
  #secondaryPage-Header {
    margin: 85px 20px 20px !important;
  }
  #secondaryPage-Header h1 {
    margin-bottom: 35px !important;
  }
  #secondaryPage-Header h2 {
    padding-bottom: 0 !important;
  }
  #secondaryPage-Header p,
  #secondaryPage-Header ul {
    margin-bottom: 30px;
  }
  .sButtonList {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  #sHero .heroImageContainer img {
    /*top: 19%;*/
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 100%;
  }

  .activePage a.active {
    background-color: #008bb2;
  }

  .selectedParent {
    background-color: #85c9de;
  }
  .secondaryHeroDescription h1 {
    font-size: 5.6em;
  }

  .emp-image img {
    padding-bottom: 1px !important;
  }
}
@media screen and (max-width: 768px) {
.contentSection {
    width: 100%;
    margin: 0;
}
}
@media all and (min-width: 1199px) and (max-width: 1325px) {
  .contentSection {
    width: 96%;
  }
}
@media all and (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
  /* #sHero .heroImageContainer img {
        width: 100%;
        top: 17%;
        left: auto;
        transform: translateY(-17%);
    }*/

  .headerNav .activePage a,
  .headerNav > .selectedParent a {
    color: #85c9de !important;
  }

  .headerNav li ul {
    display: none !important;
  }
}

.selectedPage {
  list-style: none;
}

.newsPodText a {
  color: #fff !important;
}

.emp-image {
  width: 100%;
}

.emp-image img {
  width: 100%;
  padding-bottom: 40px;
}

#secondaryPage-Header {
  max-width: 100%;
}

#secondaryPage-Header p:last-of-type {
  margin-bottom: 0 !important;
}

#increase:hover,
#decrease:hover {
  cursor: pointer;
}

.careServicesContainer h2:before,
.communityContainer h2:before {
  content: "";
  background: url("../images/line-fade-left.png");
  height: 10px;
  width: 15%;
  background-repeat: NO-REPEAT;
  display: inline-block;
  background-size: contain;
  flex: 0 1 auto;
  margin-right: 15px;
  margin-top: 15px;
}
.careServicesContainer h2:after,
.communityContainer h2:after {
  content: "";
  background: url("../images/line-fade-right.png");
  height: 10px;
  width: 15%;
  background-repeat: NO-REPEAT;
  display: inline-block;
  background-size: contain;
  flex: 0 1 auto;
  margin-left: 15px;
  margin-top: 15px;
}

/*test css for header images*/

.tab-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow: hidden;
}

.tab-nav ul li {
  display: table-cell;
  *float: left; /* improve IE7 */
  height: 25px;
  text-align: center;
  padding-left: 5px;
}

.tab-nav li:first-child {
  padding-left: 0;
}

.tab-nav ul li a {
  color: #fff;
  background-color: #85c9de;
  text-decoration: none;
  display: block;
  padding: 25px 0;
  font-weight: 700;
  font-size: 15px;
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.tab-nav ul li a:hover,
.tab-nav ul li.active a {
  background-color: #008bb2;
}

.tab-nav ul li.active:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #008bb2;
  content: " ";
  position: relative;
  bottom: -10px;
}

.nav-mobile-title {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.nav-mobile-title:after {
  left: 50%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #008bb2;
  content: " ";
  position: absolute;
  bottom: -15px;
}

.pressed:after {
  content: none;
}

#submenu {
  margin-bottom: 45px;
}

#submenu:after {
  left: 50%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffff;
  content: " ";
  position: absolute;
  bottom: -45px;
}

.notification-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #001f29;
  color: #fff;
  text-align: center;
  z-index: 1000;
  padding: 5px 0;
}

.notification-bar h6 {
  font-size: 15px;
}

.notification-bar a {
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 10px;
  border-radius: 3px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 13px;
}

.notification-bar a:hover {
  color: #000;
  background-color: #fff;
}
.notification-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-content p {
  margin: 0 0 0px;
}

.video_hero {
  z-index: 3;
}

.vimeo-wrapper {
  /* position: absolute; */

  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  margin-bottom: -5px;
  max-height: calc(100vh - 196px);
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
}

.communityImages iframe {
  width: 98%;
  height: 430px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.contact {
  font-size: 18px;
}

.contact .wpcf7 {
  text-align: center;
}

.contact label {
  text-align: justify;
}

.contact .nav li {
  border-radius: unset;
}

.contact .nav a {
  background: #85c9de;
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  border-radius: unset;
}

.contact .nav a:hover,
a:focus {
  background-color: #008bb2 !important;
  color: #fff !important;
  cursor: pointer;
}

.contact .nav .active a {
  background-color: #008bb2 !important;
  color: #fff !important;
  cursor: pointer;
}

.contact .tab-content {
  background: #fafafa !important;
  padding: 20px;
}

.contact .contact-no {
  padding: 20px 0;
}

.contact .contact-no a {
  color: #008bb2;
  font-size: 35px  !important;
  text-decoration: none;
}

.contact .contact-no p {
  font-size: 25px !important;
}

.contact span.wpcf7-list-item {
  display: block;
}

.contact .wpcf7-submit {
  background-color: #008bb2;
  color: #fff;
}

.home-contact {
  padding: 50px 0;
}

.contact p{
    text-align: center !important;
    font-size: 35px !important;
}

.contact label{font-size: 16px !important; font-weight: 400 !important;}

.container.bestContainer img {
    max-width: 200px;
}

.container.bestContainer {
    padding: 0;
}

section#intro-text-forms .col-md-6:first-of-type {
    margin-top: 50px;
    font-size: 1.6em;
}
.wpcf7-list-item {
    text-align: left;
    padding: 0 0 0 12px;
}
button, input, optgroup, select, textarea {
  max-width: 100%;
}

.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form input[type="tel"], .wpcf7-form textarea {
    border: 1px solid #85c9de;
    border-radius: 5px;
    width: 100%;
    display: block;
}

.wpcf7-form label {
    font-size: 18px;
    font-weight: 400;
}

.wpcf7-list-item {
    font-size: 18px;
    padding-left: 45px;
}

input.wpcf7-form-control.wpcf7-submit {
    background-color: transparent;
    border: 2px solid #85c9de;
    border-radius: 2px;
    color: #85c9de;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.vimeo video {
    width: calc(100% - 16px);
    margin-top: 6px;
}

#secondaryPage-Header ul{
	text-align: justify;
    font-size: 1.6em;
}

.gform_wrapper{
	padding:0 10%;
}

.gform_wrapper label.gfield_label {
    font-weight: 500 !important;
}

.gform_wrapper input,textarea {
    border: 1px solid #85c9de !important;
	border-radius: 5px;
}

.gform_wrapper input:focus {
	outline:none;
    border: 2px solid #85c9de !important;
}

.gform_wrapper .gform_button {
	background-color: transparent;
    border: 2px solid #85c9de;
    border-radius: 2px;
    color: #85c9de;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.gform_wrapper .gfield_radio{
	padding-bottom:20px;
}

.gform_wrapper .gfield_radio li label {
    font-size:14px !important;
    font-weight: 400 !important;
}
.gform_wrapper ul{
	font-size:14px !important;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, .tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
    color: #035f7b;
}

.tribe-events .tribe-events-c-ical__link {
    border: 1px solid #035f7b;
    border-radius: 4px;
    color: #035f7b ;
    font-weight: 700;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link:active, .tribe-events-calendar-month__day-date-link:focus {
    color: #035f7b;
}

.tribe-events .tribe-events-c-ical__link:hover {
    background-color:#035f7b !important;
}

.tribe-common .tribe-common-c-svgicon {
    color: #035f7b;
}

.tribe-events-calendar-month__day-date-link, .tribe-common-anchor-thin, .tribe-common-anchor-thin:visited, .tribe-events-calendar-month__day-date-link:visited, .tribe-events-back a, .tribe-events-back a:visited,  .tribe-events-sub-nav a, .tribe-events-sub-nav a:visited .tribe-events-nav-pagination a{
    color: #035f7b !important;
}

.tribe-events-nav-pagination a:focus, .tribe-events-back a:focus, .tribe-events-single:focus{
	background-color:#fff !important;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-c-btn, .tribe-common--breakpoint-medium.tribe-common a.tribe-common-c-btn{
    background-color: #035f7b;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-c-btn, .tribe-common--breakpoint-medium.tribe-common a.tribe-common-c-btn:hover {
    background-color: #035f7b;
}

.tribe-events .tribe-events-calendar-month__day-cell--selected, .tribe-events .tribe-events-calendar-month__day-cell--selected:focus, .tribe-events .tribe-events-calendar-month__day-cell--selected:hover {
    background-color: #85c9de;
}

.tribe-events .tribe-events-c-view-selector__button:before {
    background-color: #035f7b;
}


.tribe-events-button{
	font-size: 16px !important;
    padding: 10px !important;
    color: #fff !important;
	margin-top: 10px !important;
	margin-right:0px;
}
.tribe-events-button:hover{
	background-color:#094f64 !important;
}
.tribe-events-button:visited{
	color: #fff !important;
}

.tribe-events-start-date-label, .tribe-events-start-time-label, .tribe-events-schedule{
	font-size:16px;
}
.tribe-events-abbr, .tribe-events-single-event-description, .tribe-events-meta-group dl dd{
	font-size:14px;
}

#tribe-events-pg-template, .tribe-events-pg-template {
    margin: 20px auto;
}

#tribe-events-pg-template .datepicker .current{
	    color: #fff;
    background: #0f799b;
}

.tribe-common a:focus{
	background-color:#fff !important;
}

 .tribe-events-c-ical__link:hover, .tribe-events-c-ical__link:visited{
	color:#fff !important;
}

.tribe-events .datepicker .day.active, .tribe-events .datepicker .day.active.focused, .tribe-events .datepicker .day.active:focus, .tribe-events .datepicker .day.active:hover, .tribe-events .datepicker .month.active, .tribe-events .datepicker .month.active.focused, .tribe-events .datepicker .month.active:focus, .tribe-events .datepicker .month.active:hover, .tribe-events .datepicker .year.active, .tribe-events .datepicker .year.active.focused, .tribe-events .datepicker .year.active:focus, .tribe-events .datepicker .year.active:hover {
    background: #035f7b !important;
}
h2.intro-h2 {
    color: #035f7b;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0;
    line-height: 1;
    font-family: Georgia, "PT Serif", serif;
}

h3.intro-h3 {
    color: #035f7b;
    text-align: center;
    margin: 15px 0 20px;
    font-family: Georgia, "PT Serif", serif;
}

.bestContainer p {
    font-size: 18px;
    color: #035f7b;
}

.bestContainer .row {
    justify-content: center;
    align-items: center;
}

.home-contact .nav li {
  width: calc((100% / 3) - 3px);
  display: inline-block;
}

.altBackground {
    max-width: 100%;
    padding: 0 15px;
}
.altBackground.padCommunity {
    padding-top: 5%;
}
.gform_footer.top_label {
    margin-top: 0;
}

#gform_2 .gform_body .gform_fields:first-of-type li:first-of-type label span {
    position: absolute;
    bottom: -39px;
    right: -46px;
}

#gform_2 .gform_body .gform_fields:first-of-type li:first-of-type label {
    position: relative;
}
#tab2 {
    padding-top: 20%;
}
.translator {
    position: absolute;
    right: 5%;
    bottom: 10px;
}
.vid_ovly_wrap {
    position: relative;
}

.vid_ovly {
    position: absolute;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background: linear-gradient(0deg, #000, rgb(9 79 100 / 29%));
    z-index: 9;
}

@media screen and (min-width: 991px) {
  .bc-img-wrap {
      order: 2;
  }
  .bc_wrp {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      margin: auto;
  }
}
@media (max-width:991px) {
  .headerLogoContainer {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .tribe-events-sub-nav li a {
    background: #035f7b !important;
  	color:#fff !important;
  }
  .home-contact .nav li {
    width: 100%;
  }
	.translator {
		text-align: center;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
}

