@font-face {
    font-family: 'RobotoRegular';
    src: url('scripts/Roboto-Regular-webfont.eot');
    src: url('scripts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('scripts/Roboto-Regular-webfont.woff') format('woff'), url('scripts/Roboto-Regular-webfont.ttf') format('truetype'), url('scripts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('scripts/Roboto-Bold-webfont.eot');
    src: url('scripts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('scripts/Roboto-Bold-webfont.woff') format('woff'), url('scripts/Roboto-Bold-webfont.ttf') format('truetype'), url('scripts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('scripts/Roboto-Condensed-webfont.eot');
    src: url('scripts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('scripts/Roboto-Condensed-webfont.woff') format('woff'), url('scripts/Roboto-Condensed-webfont.ttf') format('truetype'), url('scripts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('scripts/Roboto-BoldCondensed-webfont.eot');
    src: url('scripts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'), url('scripts/Roboto-BoldCondensed-webfont.woff') format('woff'), url('scripts/Roboto-BoldCondensed-webfont.ttf') format('truetype'), url('scripts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
}

#Wrapper {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    font-size: 1.4em;
}

#body-wrapper, #footer-wrapper {
    background: transparent;
    position: relative;
}

.wrapper_content {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#top-wrapper {
    min-height: 100px;
    position: relative;
}

#left_content {
    margin-top: 20px;  
    text-align: left;
}

#right_content {
    max-width: 740px;
    text-align: left;
}

.searchbox {
    background: transparent;
}

    .searchbox input {
        border: none;
        background: transparent;
        font-weight: 700;
    }

.divider {
    height: 3px;
    border-bottom: solid 2px #d7d7d7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.postdivider {
    height: 5px;
    border-bottom: solid 2px #d7d7d7;
    margin: 20px 10px 20px 10px;
}

.back {
    text-align: center;
    display: block;
}

.postnavigation {
    text-align: right;
    display: block;
    margin: 15px 0;
    font-size: 1.4em;
}

    .postnavigation a {
        padding: 10px;
        color: #3c3c3c;
    }

.default_table {
    width: 100%;
}

.tbllabel {
    padding: 7px;
    text-align: left;
    width: 25%;
    vertical-align: top;
    color: #808080;
}

.tblcontrol {
    padding: 2px;
    text-align: left;
    width: 75%;
    vertical-align: top;
}

.norecord {
    margin: 15px;
}


/*Blog Settings CSS*/
#BlogSettings {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#blogAdministratorSettings, #blogCommentSettings, #blogPostSettings {
    margin-bottom: 10px;
    padding: 10px;
}

    #blogAdministratorSettings legend, #blogCommentSettings legend, #blogPostSettings legend {
        font-weight: bold;
        color: #990000;
    }

#BlogSettings input, .PostContent input, #dvSearch input {
    padding: 5px;
}
/* end of blog settings CSS*/

/* CSS for the Blog listing */

.AdminOption {
    margin: 10px;
}

.public-post {
    margin: 10px;
    padding: 5px;
}

.post_header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #d7d7d7;
    margin-bottom: 20px;
}

.post_footer {
    clear: both;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: solid 1px #d7d7d7;
    margin-bottom: 20px;
}

    .post_footer ul {
        list-style-type: none;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .post_footer li {
        float: left;
        padding: 5px;
    }

.PostContent {
    padding: 2px;
    position: relative;
}

.PostContent img {
    width: 100%;
}

.post_date {
    text-transform: uppercase;
    color: #949496;
    letter-spacing: 3px;
    font: normal 11px/32px 'Roboto', sans-serif;
}

.post_title {
    color: #035f7b;
    font: bold 26px/35px Georgia, 'PT Serif', serif;
}

    .post_title a {
        text-decoration: none;
        color: #035f7b !important;
    }

        .post_title a :visited {
            text-decoration: none;
            color: #035f7b;
        }

.auth_info {
    font: 11px/32px 'Roboto', san-serif;
}

    .auth_info a {
        text-decoration: none;
        color: #035f7b;
        font: 14px/21px 'Roboto', san-serif;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .auth_info img {
        border: none;
    }

.author-info {
    font-weight: bold;
    border-bottom: solid 1px silver;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    background: #F1f2f1;
}

.authorimage {
    float: left;
}

    .authorimage img {
        max-width: 77px;
        min-width: 77px;
        max-height: 77px;
        min-height: 77px;
        border: none;
    }

.author-info .right {
    text-align: right;
}

.post-content, #editorContent {
    color: #3c3c3c;
    font: 14px/24px 'Roboto', san-serif;
}

.public-controls {
    color: #035f7b;
    font: 14px/27px 'Roboto', san-serif;
}

.post_tags {
    padding: 5px 10px;
    text-decoration: none;
    color: #035f7b !important;
    font: 14px/27px 'Roboto', san-serif;
    background:transparent;
    font-weight:bold;
    
}

.post-comment-count {
    background: #035f7b;
    color: #FFFFFF;
    border-radius: 5px;
    -mozs-border-radius: 5px;
    padding: 5px;
}

    .post-comment-count a {
        color: White;
        text-decoration: none;
    }

.dvNewPost {
    /*
	border:solid 1px silver;
	border-radius:5px;
	-mozs-border-radius :5px;
	margin-top:25px;
	*/
    padding: 10px;
}

    .dvNewPost #AdminOption {
        text-align: center !important;
    }

.dvlabel {
    display: block;
    color: #808080;
    padding-bottom: 15px;
    font: bold 20px/27px 'Roboto', san-serif;
}

/*
#dvpostCancel
{	
	display:block;
	text-align:right;
}
*/
.AdminOptions {
    margin: 10px;
}

    .AdminOptions .right {
        text-align: right;
    }

.public-post .AdminOptions {
    text-align: center;
}


.tags, .category {
    width: 100%;
}

    .tags td, .category td {
        width: 33.33%;
    }

    .tags input {
        margin-left: -20px;
    }

    .tags td {
        padding-left: 20PX;
    }

.selectcategory, .selectTag {
    margin-bottom: 10px;
}

.dvCategoryEditholder {
    margin-top: 10;
    margin-bottom: 20px;
}

.dvCategory {
}

.dvCategoryEdit, .dvTagEdit, .dvCategoryDelete {
    text-decoration: underline;
    cursor: pointer;
    padding-right: 5px;
}

.dvCategoryDelete {
    color: #808080 ;
    text-align:left;
}

.dvCategoryDelete:hover, .dvCategoryEdit:hover {
    color:blue;
    text-decoration:none;
    font-weight:bold;
}
.dvCategoryEditsection, .dvTagEditsection {
    display: none;
}

    .dvCategoryEditsection .action, .dvTagEditsection .action {
        text-align: left;
    }

.dverror {
    display: block;
    margin-top: 10px;
    clear: both;
    background: #FFF8c6;
    border: dashed 1px #FF0000;
    padding: 20px;
    color: #FF0000;
}

.TitleError {
    display: none;
    margin-top: 10px;
    clear: both;
    background: #FFF8c6;
    border: dashed 1px #FF0000;
    padding: 20px;
    color: #FF0000;
}

    .TitleError .subtitle {
        background: url('images/report.png') left no-repeat;
        padding-left: 20px;
        font-weight: bold;
        font-size: 1.2 em;
    }

    .TitleError .content {
        margin: 10px;
    }

/* end of Blog Listing*/


/*CSS for the buttons*/
.action {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
}

    .action input, .lbtnEditCategory{
        color: White;
        /*background:gray;
	border-radius:5px;
	-mozs-border-radius :5px;	*/
        border: 0px;
        cursor: pointer;
        /*padding-left:5px;
	padding-right:5px;
	background:#9B0000;*/
        background: #005A97;
        border-left: solid 4px #0080D7;
        padding: 5px;
        text-decoration:none;
    }

    .lbtnEditCategory  {
        text-decoration:none;
        color:white !important;
            font: 13.3333px Arial;
    }

/*
.action input:hover
{	
	color:White;
	background:gray;
	border-radius:5px;
	-mozs-border-radius :5px;	
	border:0px;
	cursor:pointer;
	padding-left:5px;
	padding-right:5px;
}*/

.action input:hover, .lbtnEditCategory:hover {
    border-left: solid 4px #BFE5FF;
}



#dvCatContent .action, #dvTagContent .action {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}


.subaction {
    margin: 10px;
}

.subaction-content {
    display: none;
}

.AdminOptionbutton {
    color: White;
    background: #005A97;
    /*border-radius:5px;
	-mozs-border-radius :5px;
	padding-left:5px;
	padding-right:5px;
	height:20px;*/
    border: 0px;
    cursor: pointer;
    padding: 5px;
    border-left: solid 4px #0080D7;
}

    .AdminOptionbutton:hover {
        border-left: solid 4px #80CCFF;
    }


.post-social {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*end of button*/

/* titles*/

.sub-title {
    display: block;
    padding-bottom: 5px;
    color: #ababac;
    font: bold 17px/22px 'Roboto', sans-serif;
}

.sectiontitle {
    color: #949496;
    letter-spacing: 3px;
    font: normal 11px/32px 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* end of title*/

/* comment section */
.comments {
    margin-top: 15px;
    background: #e6e6e6;
}

.commentsbody {
    padding: 10px;
}

#commentpod {
    margin-top: 10px;
    margin-bottom: 20px;
}

#comment_author {
    color: #666666;
    padding: 5px;
    font: normal 20px/32px 'Roboto', sans-serif;
    font-weight: 700;
}

.commentdate {
    font-size: 12px;
    font-style: italic;
    color: #9e9ea0;
}

#comment_author .right {
    text-align: right;
}

#comment_detail {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8a8a8a;
    line-height: 25px;
    font: normal 14px/24px 'Roboto', sans-serif;
}

#commentform {
    margin-top: 15px;
    background: #d8d8d8;
    padding: 10px;
}

    #commentform .action {
        text-align: left !important;
    }

        #commentform .action input {
            background: #035f7b;
            font-weight: bold;
            border: none;
            font-size: 2em;
        }

.commentreport {
    display: block;
    padding-right: 10px;
}

    .commentreport .subaction {
        display: block;
        text-align: right;
    }

.ReportComment {
    background: url('images/report.png') left no-repeat;
    padding-left: 20px;
    margin: 10px;
    cursor: pointer;
    text-align: left;
}

    .ReportComment:hover {
        background: url('images/report.png') left no-repeat;
        padding-left: 20px;
        margin: 10px;
        cursor: pointer;
        color: Red;
    }

.dvReportform {
    margin: 20px;
    display: none;
}

    .dvReportform .action input {
        border: none;
        background: #035f7b;
    }

.CommentCancel, .categoryeditcancel, .CatCancel, .tageditcancel {
    cursor: pointer;
    text-decoration: underline;
}

    .CommentCancel:hover, .categoryeditcancel:hover, .CatCancel:hover, .tageditcancel:hover {
        cursor: pointer;
        color: Red;
    }


/* grid CSS -used on category edit and tag edit*/

.grid {
    width: 100%;
    border: solid 1px silver;
    margin-bottom: 10px;
}

.grid-header-row {
    background: silver;
    color: White;
}

    .grid-header-row td {
        padding: 5px;
    }

.grid-content-row {
}

.grid-content-footer {
    background: silver;
    color: White;
    padding: 5px;
}

.grid-content-row td:first-child {
    border-bottom: solid 1px silver;
}

.grid-content-row td:last-child {
}


.grid-content-row .tbllabel {
    border: 0px !important;
}

.grid-content-row:hover {
    background: #f1f1f1;
}

.paging-numofpages {
    width: 25%;
}

.paging-pages {
    width: 50%;
    text-align: center !important;
}

.paging-search {
    text-align: right;
    vertical-align: top;
}

.paging {
    text-decoration:none;
    font-size: 1.68em;
    color:white;
    padding-right:5px;
}

/* blog paging */

.blogpaging {
    margin: 10px;
}

    .blogpaging a {
        color: #035f7b;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
    }

/* Tag cloud css*/

#tagcloud {
    margin-bottom: 20px;
}

    #tagcloud a {
        color: #035f7b !important;
    }

.RadTagCloud_Default {
    border: none !important;
}

#tagcloud .sub-title {
    display: block;
    padding-bottom: 5px;
    color: #035f7b;
    font: bold 17px/22px Georgia, 'PT-Serif', serif;
}

/* Month List */

.dvYear {
    /*font-weight:bold;*/
    margin-top: 10px;
    cursor: pointer;
    background: url('images/yeararrow.png') left no-repeat;
    padding-left: 18px;
    color: #035f7b !important;
    font: normal 14px/24px 'Roboto', sans-serif;
}

    .dvYear:hover {
        color: #F90000;
    }

.show {
    background: url('images/yeararrow1.png') left no-repeat;
}

.hide {
    background: url('images/yeararrow.png') left no-repeat;
}

#dvMonthly .sub-title {
    display: block;
    padding-bottom: 5px;
    color: #035f7b;
    font: bold 17px/22px Georgia, 'PT Serif', serif;
}

.dvMonths {
    display: none;
    font-size: 1.2em;
}

    .dvMonths ul {
        list-style-type: none;
    }

    .dvMonths li {
        margin-top: 5px;
    }

    .dvMonths a {
        text-decoration: none;
        color: #035f7b;
    }


/*Search Blog*/

#dvSearch {
    margin-top: -5px;
    margin-bottom: 20px;
}

.tabcontent {
    padding: 20px;
    border: solid 1px silver;
}

.socialmediaicons img {
    max-width: 16px;
}

.schedule {
    display: none;
    margin: 10px 0px 10px 25px;
}

.pubnow {
    display: inline-block;
}

#dvAdminMainSection {
    margin: 25px 0px;
    border-bottom: 4px solid gray;
    /*border-top: 1px solid gray;*/
    font-weight: bold;
    padding-bottom: 10px;
}

    #dvAdminMainSection ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

        #dvAdminMainSection ul li {
            display: inline-block;
            padding: 0px;
            margin: 0px 2px 0px 0px;
            /*width:33%;*/
        }

.adminmenu {
    width: 150px !important;
}

.adminpoststatus {
    width: 245px !important;
}


#dvAdminMainSection .AdminOptionbutton {
    height: 50px;
    min-width: 150px;
    border: none;
    background: #0080D7;
    border-left: 4px solid #005A97;
    font: 15px/18px 'Roboto',sans-serif;
    margin: 0px;
    /*border-radius:0px 10px;
	-moz-border-radius: 0px 10px;*/
}

    #dvAdminMainSection .AdminOptionbutton:hover {
        border-left: solid 4px #BFE5FF;
    }

#dvAdminMainSection .dropdown {
    padding: 10px;
}

    #dvAdminMainSection .dropdown option {
        margin: 5px;
    }

.leftalign {
    text-align: left !important;
}

.rightalign {
    text-align: right !important;
}

.centeralign {
    text-align: center !important;
}

.public-post:hover {
    background: #F1f1f1;
}

.postImages img {
    max-width: 108px;
}

.monthview {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .monthview li {
        padding: 5px 0px;
    }

    .monthview a {
        color: #035f7b !important;
        text-decoration: none;
    }

.tagslist, .categorylist {
    margin: 20px;
}

    .tagslist a, .categorylist a {
       
        text-decoration: none;
        padding: 5px 10px;
        background-color: grey;
        color: white;
    }

    .tagslist ul, .categorylist ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .tagslist ul li, .categorylist ul li {
            padding: 5px;
            display: inline-block;
        }

.crum {
    margin: 40px 0px 10px 0px;
    text-align: left;
    font: 14px/16px 'Roboto',sans-serif;
}

    .crum a, .crum a:visited {
        color: #035f7b !important;
    }

.authorbiotop {
    margin: 30px 0px;
    background: #e8e8e8;
    min-height: 100px;
    padding: 20px 15px;
}

.authorbio-detail {
    padding: 5px 0px 5px 22px;
    font: 14px/16px 'Roboto',sans-serif;
    display: inline-block;
    max-width: 555px;
}

.authorbio-image {
    float: left;
    max-width: 100px;
    display: inline-block;
}

    .authorbio-image img {
        max-height: 100px;
        min-height: 100px;
    }

.authorbio-name {
    font: 20px/20px 'Roboto',sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.post_authorbio {
    margin: 20px 0px;
}

.author-title {
    font: bold 14px/20px 'Roboto',sans-serif;
    font-weight: 700;
}

.author-content {
    font: 12px/16px 'Roboto',sans-serif;
}

.racToken {
    margin: 5px !important;
    padding: 5px 5px 5px 5px !important;
}

.racTokenList input {
    padding: 5px !important;
}

.e74CollapsableContent {
    display: none;
    padding-left: 20px;
}

.e74CollapsableHeader {
    cursor: pointer;
}

    .e74CollapsableHeader .icon {
        background: url('images/icons.png') 71.5% 40% no-repeat;
        display: inline-block;
        margin-right: 5px;
        min-width: 20px;
        min-height: 16px;
    }

        .e74CollapsableHeader .icon.expanded {
            background: url('images/icons.png') 67% 40% no-repeat;
            display: inline-block;
            margin-right: 5px;
            min-width: 20px;
            min-height: 16px;
        }

.inputLabel {
    display: block;
    color: #808080;
    margin: 0;
    padding: 0;
    font: bold 14px/20px 'Roboto', san-serif;
}

.post-relatedpost {
   text-align: center;
}

    .post-relatedpost ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .post-relatedpost li {
        padding: 10px;
        display: inline-block;
        max-width: 200px;
        vertical-align: top;
    }

.relatedpost-image {
}

    .relatedpost-image img {
        width: 100%;
        max-height: 120px;
        min-height: 120px;
    }

.post-relatedpost-title {
    color: #3c3c3c;
    font: bold 26px/35px 'Roboto', sans-serif;
}

.relatedpost-title {
    color: #035f7b;
    font: 14px/27px 'Roboto', san-serif;
}

    .relatedpost-title a, .relatedpost-title a:visited {
        color: #035f7b;
        text-decoration: none;
    }

#relatedPod {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

    #relatedPod .item {
        display: inline-block;
        width: 49%;
        min-height: 200px;
        background: #fcfcfc;
        border: solid 1px silver;
        vertical-align: top;
    }

.item .relatedAddPod input[type=submit] {
    text-align: center;
    display: block;
    min-width: 85px;
    /*padding: 10px;*/
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 20%;
}

.item .relatedPod, .item .relatedAddPod {
    position: relative;
    min-height: 190px;
    vertical-align: top;
}

    .item .relatedPod .action {
        /*position: absolute;*/
        text-align:left;
    }

.relatedPostTitle {
    font: 17px/27px 'RobotoCondensed', Arial, san-serif;
    margin: 5px 0px;
}

.relatedPostImage img {
    max-width: 100%;
}

.relatedPostContent {
    margin: 5px 0px 10px 0px;
}

.popUpOverLay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 999999;
}

.popUpContent {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    z-index: 9999999;
    background: #FFFFFF;
    padding: 20px;
    max-height: 500px;
    overflow-y: scroll;
}

.popupClose {
    /*border-top: solid 1px gray;*/
    display: block;
    text-align: center;
    padding:10px;
}

.blogpaging {
    margin-bottom: 20px;
    text-align: center;
}

.optional {
    color: #949496;
    font: normal 11px/32px 'Roboto', sans-serif;
}

.relatedpostpaging ul li {
    list-style:none;
    display:inline-block;
    vertical-align:middle;
}

.relatedpostpaging ul li:first-child{
    width:15%;
}


.relatedpostpaging{
    background: silver;
    color:white;
}

.relatedpagingnumofpagesselect{
    text-align:right;
}
.relatedpaging{
    padding:0px;
    margin:0px;
}
.RelatedPageNumbers{
    display:inline-block;
    text-align:center;
}
.relatedpagingnumofpages {
    padding-right:50px;
}
.relatedpagingmiddle{
    width:50%;
    text-align:center;
}

.relatedpagingmiddle ul li {
    padding:5px !important;
}
.relatedpagingnumofpagesselect{
    width:25%;
}

.RelatedPostPageSelect{
    text-decoration:none;
    font-weight:bold;
    color: black;
    /* border-width: 5px; */
    padding: 2px;
    font-size: 1.2em;
}

.btnRemove{
    clear:both;
}

.Required{
    clear:both;
    display:inline-block;
    color:red;
}

.post_title a:hover {
    font-weight:bold;
}

.item {
    vertical-align: top;
    padding-bottom: 10px;
}

.lblNumberofPages{
    margin:10px;
    font-weight:bold;
}

.relatedpost-title a:hover{
    font-weight:bold;
}
.authorImage img {
    width: 150px;
    height: 130px;
}

.authorbio-image img{width:105px; height:100px}
.EmailMessage{border:1px solid black; padding:20px; }

.related-image { 
Font-Style: Normal;
Font-Weight: Normal;
width: 250px; height: 175px; overflow: hidden; margin-bottom: 10px; background: url('http://www.element74.com/Images/photos/Read-Blog-BI.jpg') no-repeat 50% 50%; cursor: pointer;
}
.related-image img:hover { 
Font-Style: Normal;
Font-Weight: Normal;
webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
position: relative;
z-index: 1;
opacity: .1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
cursor: pointer;
}

@media screen and (max-width: 767px) {
    .blogControls {
        display: none;
    }

    .paging-pages center{
        text-align: left !important;
    }

    .public-controls td {
        display: table;
        width: 100%;
    }

    .paging-numofpages, .paging-numofpages-select, .paging-pages {
        display: table;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .post-comment-count {
        margin-right: 10px;
    }

    span[id*="lblRatingSummary"] {
        margin-left: 10px;
    }

    .blogpaging .paging-pages {
        width: 70%;
        text-align: center;
    }


    .blogpaging .paging-numofpages {
        width: 15%;
        text-align: left;
    }


    .blogpaging .paging-numofpages-select {
        width: 15%;
        text-align: right;
    }
}

@media screen and (max-width: 991px) {
    #left_content {
        margin: 0 auto;
        padding: 20px 0;
    }

    #right_content {
        margin: 0 auto;
        padding: 10px 25px;
    }
}

@media screen and (min-width: 992px) {
    #left_content {
        margin: 20px auto;
        margin-left: 15px;
    }

    #right_content {
        float: left;
    }
}


.widget-title{
    padding-bottom: 5px;
    color: #035f7b;
    font: bold 17px/22px Georgia, 'PT Serif', serif;
}


#left_content ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#left_content ul li {
    padding: 5px;
}

#left_content ul li a {
    color: #035f7b !important;
    text-decoration: none;
}

.widget{
    list-style-type: none;
    margin-bottom:30px;
}

.tagcloud a{
    display: block;
    padding-bottom: 5px;
    color: #035f7b;
    font-family: Roboto, sans-serif !important;
    padding: 5px;
    font-size: 15px !important;
    text-decoration: none;
}

.page-numbers a{
    color: #035f7b;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.search-wrapper{
    margin-bottom: 40px;;
}