/* <RadMenu / Telerik> */

.RadMenu_Red .rmRootGroup,
.RadMenu_Red .rmLink,
.RadMenu_Red .rmText,
.RadMenu_Red .rmLeftArrow,
.RadMenu_Red .rmRightArrow,
.RadMenu_Red .rmTopArrow

.rmText rmDisabled rmDisabled {
	white-space:nowrap;
}

.RadMenu div.rmText {
	white-space:nowrap;
}

.RadMenu_Red rmVertical rmRootGroup, .RadMenu_Red rmHorizontalRootGroup
{}

.submenus
{
	padding: 5px 30px 1px 15px;
	color: white;
}


.RadMenu_Red .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Red .rmRootGroup
{
	border: 0px solid #828282;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: Transparent;}

/* <Root items> */

.RadMenu_Red,
.RadMenu_Red .rmLink
{
	font: normal 14px/23px Arial, sans-serif;
	color: #FFF;
	text-decoration: none;

}

.RadMenu_Red .rmLink,
.RadMenu_Red .rmDisabled,
.RadMenu_Red .rmDisabled:hover
{
	background-position: 0 -72px;
}

.RadMenu_Red .rmText,
.RadMenu_Red .rmDisabled .rmText,
.RadMenu_Red .rmFirst .rmLink,
.RadMenu_Red .rmLast .rmText, rmText,
.RadMenu_Red .rmLast .rmLink:hover .rmText,
.RadMenu_Red .rmVertical .rmLink,
.RadMenu_Red .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
	cursor: pointer;
}

.RadMenu_Red .rmFirst .rmLink:hover, .RadMenu_Red .rmLink:hover, .rmItem:hover
{
    cursor: pointer;
	
	color: white;
}	

.RadMenu_Red .rmVertical .rmLink
{}

.RadMenu_Red .rmVertical .rmLink:hover,
.RadMenu_Red .rmVertical .rmFocused,
.RadMenu_Red .rmVertical .rmExpanded,
.RadMenu_Red .rmVertical .rmExpanded:hover
{border-style: solid;
	border-color: #131b4c;
	border-width: 0px 0;
}

.RadMenu_Red .rmVertical .rmFirst .rmLink:hover,
.RadMenu_Red .rmVertical .rmFirst .rmFocused,
.RadMenu_Red .rmVertical .rmFirst .rmExpanded,
.RadMenu_Red .rmVertical .rmFirst .rmExpanded:hover
{border-top-width: 0;
}

.RadMenu_Red .rmVertical .rmLast .rmLink:hover,
.RadMenu_Red .rmVertical .rmLast .rmFocused,
.RadMenu_Red .rmVertical .rmLast .rmExpanded,
.RadMenu_Red .rmVertical .rmLast .rmExpanded:hover
{border-bottom-width: 0;
}

.RadMenu_Red .rmVertical .rmItem .rmDisabled:hover
{border-width: 0;

}

.RadMenu_Red .rmExpanded,
.RadMenu_Red .rmExpanded:hover
{

	background-position: 0 -72px;
}

.RadMenu_Red .rmExpanded .rmText,
.RadMenu_Red .rmExpanded:hover .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Red .rmLast .rmExpanded .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_Red .rmDisabled,
.RadMenu_Red .rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Red .rmGroup,
.RadMenu_Red .rmGroup .rmVertical
{
	border: 5px solid #6f0100;
	background: white;
	/*background: transparent url('Menu/rmVSprite.png') repeat-y 0 0;*/
	
	
}

.RadMenu_Red .rmSlide .rmScrollWrap
{
	background-image: none;
background: transparent;
	
}

.RadMenu_Red_rtl .rmGroup,
.RadMenu_Red_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
	background: transparent;
	}

.RadMenu_Red .rmRootGroup li.rmItem .rmGroup
{}

.RadMenu_Red .rmRootGroup .rmHorizontal
{
	background-image: none;}

.RadMenu_Red .rmScrollWrap .rmVertical
{border: 0;
}

.RadMenu_Red .rmGroup .rmItem .rmLink,
.RadMenu_Red .rmGroup .rmItem .rmLink:hover,
.RadMenu_Red .rmGroup .rmItem .rmFocused,
.RadMenu_Red .rmGroup .rmItem .rmExpanded
{border: 0;

}

.RadMenu_Red .rmGroup .rmLast .rmLink,
.RadMenu_Red .rmGroup .rmLast .rmLink:hover,
.RadMenu_Red .rmGroup .rmLast .rmFocused,
.RadMenu_Red .rmGroup .rmLast .rmExpanded
{}

.RadMenu_Red .rmGroup .rmLink,
.RadMenu_Red .rmGroup .rmText,
.RadMenu_Red .rmGroup .rmItem .rmDisabled,
.RadMenu_Red .rmGroup .rmItem .rmDisabled:hover,
.RadMenu_Red .rmGroup .rmItem .rmDisabled .rmText,
.RadMenu_Red .rmGroup .rmItem .rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
/*	background-color: transparent;*/
}

.RadMenu_Red .rmGroup .rmLink:hover,
.RadMenu_Red .rmGroup .rmFocused,
.RadMenu_Red .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Red .rmGroup .rmLink:hover .rmText,
.RadMenu_Red .rmGroup .rmFocused .rmText,
.RadMenu_Red .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Red .rmGroup .rmExpandRight,
.RadMenu_Red .rmGroup .rmExpandDown,
.RadMenu_Red .rmGroup .rmItem .rmDisabled .rmExpandRight,
.RadMenu_Red .rmGroup .rmItem .rmDisabled .rmExpandDown,
.RadMenu_Red .rmGroup .rmItem .rmDisabled:hover .rmExpandRight,
.RadMenu_Red .rmGroup .rmItem .rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Red .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Red .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Red .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_Red .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_Red .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Red .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Red .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_Red .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Red_rtl .rmLink
{
	background-position: 100% -96px;
}

.RadMenu_Red_rtl .rmText
{
	background-position: 0 -72px;
}

.RadMenu_Red_rtl .rmVertical .rmExpanded .rmText,
.RadMenu_Red_rtl .rmVertical .rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_Red_rtl .rmGroup .rmLink:hover,
.RadMenu_Red_rtl .rmGroup .rmFocused,
.RadMenu_Red_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Red_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_Red_rtl .rmGroup .rmFocused .rmText,
.RadMenu_Red_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Red_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Red_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Red_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Red_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Telerik - specific, overlapping submenus)> */

.RadMenu_Red .rmSlide
{	
	border-style:solid;
	border-color:#131b4c;
   
	border-width:0px;	
	/*margin: 15px 5px 5px 15px;*/

}

.RadMenu_Red .rmVertical .rmSlide,
.RadMenu_Red .rmSlide .rmSlide,
.RadMenu_Red_Context .rmGroup .rmSlide
{
	/*margin: 0 0 0 -0x;*/
}

.RadMenu_Red_rtl .rmSlide
{
	/*margin: 0 0 0 0;*/
}

.RadMenu_Red_rtl .rmFirst .rmSlide
{
	/*margin-left: 0px;*/
}

.RadMenu_Red_rtl .rmVertical .rmSlide,
.RadMenu_Red_rtl .rmSlide .rmSlide,
.RadMenu_Red_Context_rtl .rmGroup .rmSlide
{
	/*margin: 0px 0px 0px 0px;*/
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Red .rmLeftArrow,
.RadMenu_Red .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_Red .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_Red .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_Red .rmTopArrow,
.RadMenu_Red .rmBottomArrow,
.RadMenu_Red .rmGroup .rmLeftArrow,
.RadMenu_Red .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_Red .rmTopArrow { background-position: 50% -367px; border-bottom: 0px solid #828282; }
.RadMenu_Red .rmBottomArrow { background-position: 50% -391px; border-top: 0px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Red .rmHorizontal .rmSeparator .rmText,
.RadMenu_Red .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;width: 0px;
	background-color: #A8A8A8;
}

.RadMenu_Red_Context .rmSeparator .rmText,
.RadMenu_Red .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_Red .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;}
  
  .RadMenu_Red .rmLeftImage, RadMenu RadMenu_Red, rmItem rmFirst, rmHorizontal rmRootGroup, rmLink  rmExpanded, .rmLeftImage, .rmLink, .rmText rmExpandDown, .RadMenu .rmLink .rmText     
{
    margin:0px 0px 0px 0px !Important;
	padding: 0px 0px 0px 0px !Important; 
	float: none;  
	
}
.RadMenu_Red .rmItem
{
	
}

/* </Separators> */

/* </RadMenu / Telerik> */